{% extends 'baseclientes.html' %}

{% block body %}

 <!-- Navigation-->
        <nav class="navbar navbar-expand-lg " style="background-color: black;">
            <div class="container px-4 px-lg-5">
                 <a class="navbar-brand" href="/inicio" style="color:white"><img src="/static/img/m_logo.png" width="8%">&nbsp; Mervip</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">

                        <li class="nav-item"><a class="nav-link" href="/ayuda" style="color:white"><i class="bi bi-question-diamond-fill"></i>Ayuda</a></li>
                         <li class="nav-item"><a class="nav-link" href="/comparar" style="color:white"><i class="bi bi-x-diamond-fill"></i> Comparar Productos</a></li>

                    </ul>
                        <a class="btn btn-outline-dark" href="/vercarrito" role="button" style="color:white"><i class="bi-cart-fill me-1"></i>Carrito
                             <span class="badge rounded-pill bg-secondary">{{cant}}</span></a>



                        <li class="nav-item dropdown" style="list-style:none;">
                                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="color:white">
                                   <font size="4"> <b> <i class="bi bi-person-circle"></i> {{ nomb }} </b> </font>
                                </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="/cerrarsesion" > <i class="bi bi-box-arrow-in-right"></i> Cerrar Sesión</a></li>
                                 <li><a class="dropdown-item" href="/misfacturas"><i class="bi bi-bag-fill"></i> Mis Compras</a></li>

                            </ul>
                         </li>






                </div>
            </div>
        </nav>

 <!-- Header-->
        <header class="bg-dark py-5">
            <div class="container px-4 px-lg-5 my-5">
                <div class="text-center text-white">
                      <h1 class="display-4 fw-bolder">
                        <img src="/static/img/scliente.png" class="img-fluid" width="5%">

                        Ayuda en Linea
                    <img src="/static/img/scliente.png" class="img-fluid" width="5%">
                    </h1>

                </div>
            </div>
        </header>




<br>
<br>


<div class="container">

    <div class="alert alert-warning" role="alert">
  <font size="4"> <b style="color:red"> Bienvenido <b style="color:black">{{nomb}}</b> al Sistema de Ayuda en Linea por favor detalle en el campo
    Mensaje su problema y posteriormente un asesor se comunicara con usted mediante el correo electronico registrado.
    </b></font>
</div>

    {% with messages = get_flashed_messages() %}
            {% if messages %}

            {% for message in messages %}

                {{ message|safe }}

            {% endfor %}

            {% endif %}

        {% endwith %}


    <form method="POST" action="comunicar">
    <div class="mb-3">
  <label for="exampleFormControlInput1" class="form-label"><b>Correo Electronico</b></label>
  <input type="email" class="form-control" id="exampleFormControlInput1" value="{{correo}}" name="corres" >
</div>
<div class="mb-3">
  <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
  <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" name="mensaje" required></textarea>
</div>
<br>
        <center> <button type="submit" class="btn btn-success">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send-fill" viewBox="0 0 16 16">
                      <path d="M15.964.686a.5.5 0 0 0-.65-.65L.767 5.855H.766l-.452.18a.5.5 0 0 0-.082.887l.41.26.001.002 4.995 3.178 3.178 4.995.002.002.26.41a.5.5 0 0 0 .886-.083l6-15Zm-1.833 1.89L6.637 10.07l-.215-.338a.5.5 0 0 0-.154-.154l-.338-.215 7.494-7.494 1.178-.471-.47 1.178Z"/>
                    </svg>
            Enviar</button>

        <a href="/inicio" class="btn btn-danger"><i class="bi bi-x-octagon-fill"></i> Cancelar</a>

        </center>





</form>



</div>



{% endblock %}

